<nav>
    <ul>
        <li><a href="{{ url_for('index') }}" class="{{ 'active' if request.path == url_for('index') else '' }}">Home</a></li>
        <li><a href="{{ url_for('category', category_name='Jinja2') }}" class="{{ 'active' if request.path.startswith('/category/Jinja2') else '' }}">Jinja2</a></li>
        <li><a href="{{ url_for('category', category_name='CSS') }}" class="{{ 'active' if request.path.startswith('/category/CSS') else '' }}">CSS</a></li>
        <li><a href="{{ url_for('category', category_name='Flask') }}" class="{{ 'active' if request.path.startswith('/category/Flask') else '' }}">Flask</a></li>
    </ul>
</nav>
